.selector-for-some-widget {
  box-sizing: content-box;
}

.icon {
  font-size: 25px;
  margin: 5px 5px;
}

.link{
  vertical-align: 8px;
  width: 100%;
  color: #333;
}

.media-object {
  margin: 5px 5px;
}

.media-body {
  padding: 5px 5px;
}

p{
  margin-bottom: 0;
}

.copyright{
  margin-top: 30px;
  text-align: center;
}

.footer-widget{
  margin-top: 20px;
}

.footer-social{
  margin-top: 10px;
}

.mx-auto{
  width: 10%;
  height: 10%;
  align-self: center;
}

.clients{
  display: inline-flex;
  justify-content: space-between;
}

.footer-title{
  margin-bottom: 20px;
}

.media-object{
  width: 60px;
  height: 60px;
}

.clients-title{
  opacity: 50%;
  text-align: center;
}

.lead-title{
  color: red;
}

.nav-link{
  font-size: 20px;
}

.display-6{
  font-weight: 300;
}

.card-img-top{
  width: 80%;
  height: 80%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
}

.align-self-center{
  width: 10%;
  height: 10%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.card{
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {

  .align-self-center{
    width: 25%;
    height: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
  }

}
