.selector-for-some-widget {
  box-sizing: content-box;
}

.icon {
  font-size: 25px;
  margin: 5px 5px;
}

.link{
  vertical-align: 8px;
  width: 100%;
  color: #333;
}

.media-object {
  margin: 5px 5px;
}

.media-body {
  padding: 5px 5px;
}

p{
  margin-bottom: 0;
}

.copyright{
  margin-top: 30px;
  text-align: center;
}

.footer-widget{
  margin-top: 20px;
}

.footer-social{
  margin-top: 10px;
}

.rounded{
  width: 10%;
  height: 10%;
  align-self: center;
}

.clients{
  display: inline-flex;
  justify-content: space-between;
}

.footer-title{
  margin-bottom: 20px;
}

.media-object{
  width: 60px;
  height: 60px;
}

.clients-title{
  opacity: 50%;
  text-align: center;
}